<div class="container bg-white mt-5 shadow">
    <div class="row">
        <div class="col-3 border p-2">
            <app-search
                (eventClicked)="childEventClicked($event)"
                (eventFilterSubmit)="childFilterSubmit($event)">
            </app-search>
        </div>
        <div class="col-9 p-1">

            <app-ordering-buttons
                (orderingEventClicked)="childOrderingEventClicked($event)">
            </app-ordering-buttons>

            <app-product-list
                [filterEvent]="clickedFilterEvent"
                [filterSubmitEvent]="clickedFilterSubmit"
                [orderingEvent]="clickedOrderingEvent">
            </app-product-list>

        </div>
    </div>
</div>