.cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.grid-cont {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content;
    justify-content: center;
}

.test-btn {
    border: none;
    color: white;
    padding: 5px;
    background-color: teal;
    transition: ease-in-out 200ms;
}

.test-btn:hover {
    background-color: rgb(0, 100, 100);
}

.test-btn:active {
    background-color: rgb(2, 56, 56);
}