<div class="header shadow mb-5 bg-header">
    <div class="container flex align-items-center">
        <a class="" href="/">
            <img src="http://127.0.0.1:8000/media/Crown.png" class="float-right" width="50" height="40" alt="" />
        </a>

        <div class="col-3 mr-2">
            <input class="form-control" type="text" placeholder="جست و جو..." aria-label="Search" />
        </div>

        <div class="" id="navbarNavAltMarkup">
            <div class="">
            </div>
        </div>
    </div>
</div>